@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

span{
  color: #FFF700;
}


@layer utilities{
  .max-container{
    @apply max-sm:w-full lg:max-w-[1440px] px-5 lg:px-[62px] mx-auto items-center
  }

  .box{
    @apply max-md:w-[90vw] h-[280px] md:h-[492px] flexCenter pt-[18px] pb-[33px] md:pb-[72px] flex flex-col rounded-[33px] border-2 border-primary
  }

  .menu{
    @apply h-[2px] bg-white transition-all ease-in-out duration-500
  }

  .link {
    @apply   transition-all ease-in-out duration-500 relative
  }

  .link::after{
    @apply content-[''] absolute -left-0 -bottom-0 h-[2px] w-[0%] bg-black duration-300 rounded-full
  }

  .link:hover::after {
    @apply w-[80%] 
  }

  .link-nav {
    @apply   transition-all ease-in-out duration-500 relative
  }

  .link-nav::after{
    @apply content-[''] absolute -left-0 -bottom-0 h-[2px] w-[0%] bg-primary duration-300 rounded-full
  }

  .link-nav:hover::after {
    @apply w-[80%] 
  }

  .nav-hover{
    @apply bg-primary py-[11px] px-[10px] rounded-[5px] text-black hover:text-gray-500
  }

  p{
    @apply regular-p
  }

  .regular-h2{
    @apply text-[24px] md:text-[56px] font-[700] leading-[28.8px] md:leading-[67.2px] 
  }
  .regular-h3{
    @apply text-[20px] md:text-[36px] font-normal md:font-bold leading-relaxed text-primary
  }

  .regular-h4{
    @apply text-[24px] font-bold leading-10 text-primary
  }

  .regular-p{
    @apply text-[16px] font-normal md:text-[20px] md:font-medium leading-[19.2px] md:leading-[40px]
  }

  .footer-h{
    @apply text-black font-bold text-[12px] md:text-[16px] mb-4;
  }

  .flexCenter{
    @apply flex items-center justify-center m-auto text-center
  }
}